<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Página de consulta</title>
    <link rel="stylesheet" href="../static/css/styleConsult.css" type="text/css" />
    <script type="text/javascript" src="../static/js/consult.js"></script>
</head>

<body>
    <div>
        <h1>Mascotas registradas</h1>
        <label>Nombre de la mascota</label>
        <input type="text" name="mascota" id="mascota"/>
        <br />
        <br />
        <label>Nombre del dueño</label>
        <input type="text" name="propietario" id="propietario"/>
        <br />
        <br />
        <textarea></textarea>
        <br />
        <br />
        <button onClick="consult_pet()">Consultar</button>
    </div>
</body>

</html>
